    <script type="text/javascript" src="/scripts/blogs.js"></script>
    <script type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
   </body>
</html>