<!DOCTYPE html>
<html>
   <head>
       <title>404 Not Found</title>
       
      
      <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
      

       <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
       

       <script type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>

</head>
<body>	
    <div id="error-page">
         <div id="error-page-content">  

			     <img class="img-thumbnail" id="error-image" src="/images/serverSideImages/errorImage.jpg" >
			     <h5>This page isn't available. Sorry about that.</h5>
			
			
			     <h5><a href="/login" style="text-decoration: none;" >
			     Click Here
			     </a> to login to <span style="color : purple; font-family: sans-serif; font-style : oblique; ">YoBlogs<span>
			     </h5>
			
		 </div>

    </div>

</body>